{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>Solid Video Game Reviews</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
        <link rel='stylesheet' href="{% static 'css/make_review.css' %}" type='text/css'>
        <link rel='stylesheet' href="{% static 'css/all_reviews.css' %}" type='text/css'>
    </head>

    
    <body>

        <div class='jumbotron'>
            <div class='row align-items-center'>
                <div class='col'><h1>Solid Video Game Reviews</h1></div>
                <div class='col-1 center-text'><a class="btn btn-outline-secondary" href="{% url 'all_reviews' %}" role="button">All Reviews</a></div>
                <div class='col-1 center-text'><a class="btn btn-outline-secondary" href="{% url 'make_review' %}" role="button">Make Reviews</a></div>
                {% if user.is_authenticated %}
                    <div class='col-1 center-text'><a class="btn btn-outline-success" href="{% url 'my_reviews' %}" role="button">{{ user.username }}</a></div>
                    <div class='col-1 center-text'><a class="btn btn-outline-danger" href="{% url 'logout' %}" role="button">Logout</a></div>
                {% else %}
                    <div class='col-1 center-text'><a class="btn btn-outline-primary" href="{% url 'signup' %}" role="button">Sign Up</a></div>
                    <div class='col-1 center-text'><a class="btn btn-outline-success" href="{% url 'login' %}" role="button">Login</a></div>
                {% endif %}
            </div>
        </div>


        {% block content %}
        {% endblock %}

    </body>

</html>